<h1 class="center">RASPBERRY PI HUB</h1>
<div class="h2 center">Science Camp 2024</div>
<div class="sensore-data-wrapper">
    <div class="grid">
        <div class="row">
            <div class="col-8">
                ESP32LR20 Relay's
            </div>
            <div class="col-4">
                <%=config.esp32lr20Relay1 ?? 'n.a'%> / <%=config.esp32lr20Relay2 || 'n.a'%>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                Temperatur
            </div>
            <div class="col-4">
                <%=config.hydroponicsKitTemperature ? config.hydroponicsKitTemperature + ' °C' : 'n.a'%>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                PH-Wert
            </div>
            <div class="col-4">
                <%=config.hydroponicsKitPh ?? 'n.a'%>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                EC-Wert
            </div>
            <div class="col-4">
                <%=config.hydroponicsKitEc ? config.hydroponicsKitEc + ' mS/cm' : 'n.a'%>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                Umgebungstemperatur
            </div>
            <div class="col-4">
                <%=config.environmentTemperature ? config.environmentTemperature + ' °C' : 'n.a'%>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                Luftfeuchtigkeit
            </div>
            <div class="col-4">
                <%=config.environmentHumidity ? config.environmentHumidity + ' %' : 'n.a'%>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                Luftdruck
            </div>
            <div class="col-4">
                <%=config.environmentPressure ? config.environmentPressure + ' kPa' : 'n.a'%>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                Lautstärke
            </div>
            <div class="col-4">
                <%=config.environmentMicrophone ?? 'n.a'%>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                Helligkeit
            </div>
            <div class="col-4">
                <%=config.lightIntensity ?? 'n.a'%>
            </div>
        </div>
    </div>
</div>